{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <section class="thankyou">
    <div class="container" style="text-align:center; padding:40px;">
      <h1>🎉 Thank You {{ name }}!</h1>
      <p>Your appointment request for <b>{{ appointment.service }}</b> on <b>{{ date }}</b> at <b>{{ time }}</b> has received successfully.</p>
      <p>We have sent you a confirmation of booking on your Email & SMS 📩📱</p>
      <a href="/" class="btn">Back to Home</a>
    </div>
  </section>
</body>
</html>
